@model IEnumerable<string>

<a class="btn btn-block
    @( ViewBag.SelectedCategory==null ? "btn-primary": "btn-default")"  
    asp-action="Index" asp-controller="Home" asp-route-category="">Home</a>
@foreach (string category in Model)
{
    <a class="btn btn-block       
       @(category == ViewBag.SelectedCategory ? "btn-primary": "btn-default")"
       asp-action="Index" asp-controller="Home" asp-route-category="@category"
       asp-route-pageNumber="1">@category</a>
}

