@model Cart

<div class="">    
    @if (Model.ReturnOrderDetails.Count() > 0)
    {
        <div class="navbar-text">            
            <b>Your cart:</b>            
                @Model.ReturnOrderDetails.Sum(x => x.quantity) 
                item(s)            
                @Model.ComputeTotalValue().ToString("c")        
        </div>
    }    
    <a class="btn btn-sm btn-default navbar-btn" asp-controller="Cart" 
    asp-action="Index" asp-route-returnurl="@ViewContext.HttpContext.Request.PathAndQuery()">        
    <i class="fa fa-shopping-cart"></i>    
    </a> 
</div>