@model CoffeeStore.Models.Order

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <input asp-for="orderID" class="form-control" type="hidden" />
                <span asp-validation-for="orderID" class="text-danger"></span>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="customerID" class="control-label"></label>
                <select asp-for="customerID" class="form-control"
                        asp-items="@(new SelectList(ViewBag.Customers, "customerID", "customerName"))"></select>
                <span asp-validation-for="customerID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="orderTime" class="control-label"></label>
                <input asp-for="orderTime" class="form-control" />
                <span asp-validation-for="orderTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@(Model.orderID==0 ? "Create":"Edit")" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

